#log-input-container {
  text-align: center;
  padding: 25px 0;
}

#primary-content {
  display: none;
}

#gauges-container {
  text-align: center;
}

.gauge {
  display: inline-block;
}

.controls-container {
  margin-top: 25px;
  text-align: center;
}

#playback-slider {
  margin-top: 25px;
  max-width: 100%;
  width: 500px;
}


